<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Практика" data-toc-modified-id="Практика-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Практика</a></span><ul class="toc-item"><li><span><a href="#Определение-вероятности.-События" data-toc-modified-id="Определение-вероятности.-События-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Определение вероятности. События</a></span><ul class="toc-item"><li><span><a href="#Задача-1" data-toc-modified-id="Задача-1-1.1.1"><span class="toc-item-num">1.1.1&nbsp;&nbsp;</span>Задача 1</a></span></li><li><span><a href="#Задача-2" data-toc-modified-id="Задача-2-1.1.2"><span class="toc-item-num">1.1.2&nbsp;&nbsp;</span>Задача 2</a></span></li><li><span><a href="#Задача-3" data-toc-modified-id="Задача-3-1.1.3"><span class="toc-item-num">1.1.3&nbsp;&nbsp;</span>Задача 3</a></span></li><li><span><a href="#Задача-4" data-toc-modified-id="Задача-4-1.1.4"><span class="toc-item-num">1.1.4&nbsp;&nbsp;</span>Задача 4</a></span></li></ul></li><li><span><a href="#Вероятность-суммы-событий" data-toc-modified-id="Вероятность-суммы-событий-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Вероятность суммы событий</a></span><ul class="toc-item"><li><span><a href="#Задача-5" data-toc-modified-id="Задача-5-1.2.1"><span class="toc-item-num">1.2.1&nbsp;&nbsp;</span>Задача 5</a></span></li><li><span><a href="#Задача-6" data-toc-modified-id="Задача-6-1.2.2"><span class="toc-item-num">1.2.2&nbsp;&nbsp;</span>Задача 6</a></span></li></ul></li><li><span><a href="#Случайные-величины" data-toc-modified-id="Случайные-величины-1.3"><span class="toc-item-num">1.3&nbsp;&nbsp;</span>Случайные величины</a></span><ul class="toc-item"><li><span><a href="#Задача-7" data-toc-modified-id="Задача-7-1.3.1"><span class="toc-item-num">1.3.1&nbsp;&nbsp;</span>Задача 7</a></span></li><li><span><a href="#Задача-8" data-toc-modified-id="Задача-8-1.3.2"><span class="toc-item-num">1.3.2&nbsp;&nbsp;</span>Задача 8</a></span></li></ul></li><li><span><a href="#Условные-вероятности" data-toc-modified-id="Условные-вероятности-1.4"><span class="toc-item-num">1.4&nbsp;&nbsp;</span>Условные вероятности</a></span><ul class="toc-item"><li><span><a href="#Задача-9" data-toc-modified-id="Задача-9-1.4.1"><span class="toc-item-num">1.4.1&nbsp;&nbsp;</span>Задача 9</a></span></li><li><span><a href="#Задача-10" data-toc-modified-id="Задача-10-1.4.2"><span class="toc-item-num">1.4.2&nbsp;&nbsp;</span>Задача 10</a></span></li></ul></li></ul></li></ul></div>

# Практика

## Определение вероятности. События

Требуется сгенерировать необходимые выборки и произвести по ним расчеты

In [50]:
import random as rd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import random
import scipy.stats as sts
%matplotlib inline

### Задача 1
Брошено две монеты. Найти вероятность того, что монеты выпали разными сторонами

In [82]:
n = 100000
orel = 0
reshka = 1
coin1 = np.random.choice([orel, reshka], n)
coin2 = np.random.choice([orel, reshka], n)
df_coin1 = pd.DataFrame(coin1)
df_coin2 = pd.DataFrame(coin2)
df = pd.concat([df_coin1 ,df_coin2], axis=1)
df_all = df.set_axis(['coin1','coin2'],axis=1, inplace=False)
df_all['sum'] = df_all['coin1']+df_all['coin2']
print((df_all[df_all['sum']==1]).count()[0]/n)

0.50218

### Задача 2
Брошено три монеты. Описать множество всех элементарных событий. Найти вероятности следующих событий:


1.   A = {не выпало ни одного герба}
2.   B = {выпало четное число гербов}
3.   C = {на третьей монете выпал герб}

In [57]:
df002= pd.DataFrame([rd.randint(0,1) for i in range(n)],columns=['coin1'])
df002['coin2'] =  pd.DataFrame([rd.randint(0,1) for i in range(n)])
df002['coin3'] =  pd.DataFrame([rd.randint(0,1) for i in range(n)])
df002['sum'] = df002['coin1']+df002['coin2']+df002['coin3']
df002

       coin1  coin2  coin3  sum
0          0      0      1    1
1          0      0      1    1
2          1      0      1    2
3          0      1      1    2
4          1      0      0    1
...      ...    ...    ...  ...
99995      1      0      1    2
99996      1      0      0    1
99997      0      0      1    1
99998      0      0      1    1
99999      1      0      0    1

[100000 rows x 4 columns]

In [60]:
# не выпало ни одного герба (1/8)
df002[df002['sum']==3].count()[3]/df002['sum'].count()

0.12573

In [62]:
# выпало четное число гербов (3/8)
df002[df002['sum']==1].count()[3]/df002['sum'].count()

0.37596

In [63]:
# на третьей монете выпал герб (4/8)
df002[df002['coin3']== 0].count()[2]/df002['coin3'].count()

0.50057

Предлагается также решить задачи: 

### Задача 3
Из двух претендентов E и L на ответственную должность три члена комиссии должны отобрать одного. Каждый член комиссии должен указать либо одного достойного, либо забраковать обоих. Претендент считается выбранным, если он был признана достойным хотя бы двумя членами комиссии.
Найти вероятность событий:

A = {рекомендован L}, B = {рекомендован E}

In [64]:
df003 = pd.DataFrame(np.random.choice(['Egor','Leonid','Nobody'], n),columns=['A'])
df003['B'] =  pd.DataFrame(np.random.choice(['Egor','Leonid','Nobody'], n))
df003['C'] =  pd.DataFrame(np.random.choice(['Egor','Leonid','Nobody'], n))
df003['all'] = df003['A'] + df003['B'] + df003['C']
df003

            A       B       C                 all
0      Nobody  Nobody    Egor    NobodyNobodyEgor
1      Nobody    Egor  Nobody    NobodyEgorNobody
2      Leonid  Leonid    Egor    LeonidLeonidEgor
3        Egor  Leonid    Egor      EgorLeonidEgor
4      Leonid  Nobody  Leonid  LeonidNobodyLeonid
...       ...     ...     ...                 ...
99995  Nobody  Leonid    Egor    NobodyLeonidEgor
99996  Leonid  Leonid    Egor    LeonidLeonidEgor
99997  Nobody  Nobody  Leonid  NobodyNobodyLeonid
99998    Egor    Egor  Nobody      EgorEgorNobody
99999    Egor  Leonid    Egor      EgorLeonidEgor

[100000 rows x 4 columns]

In [126]:
# рекомендован L (7/27)
A=0
for i in ('LeonidLeonidLeonid','LeonidLeonidNobody','LeonidLeonidEgor','LeonidEgorLeonid',
          'LeonidNobodyLeonid','EgorLeonidLeonid','NobodyLeonidLeonid'):
    A += df003[df003['all']==i].count()['all']
A/n

0.25633

In [127]:
# рекомендован E (7/27)
B=0
for i in ('EgorEgorEgor','EgorEgorLeonid','EgorEgorNobody','EgorLeonidEgor','EgorNobodyEgor',
          'LeonidEgorEgor','NobodyEgorEgor'):
    B += df003[df003['all']==i].count()['all']
B/n

0.25882

### Задача 4
Брошено две игральных кости. Описать множество элементарных событий. Найти вероятности событий:

A = {вышло две "шестерки"}

B = {сумма выпавших очков не меньше 11}

C = {не выпала ни одна "шестерка"}

In [67]:
df004 = pd.DataFrame([rd.randint(1,6) for i in range(n)],columns=['kub1'])
df004['kub2'] =  pd.DataFrame([rd.randint(1,6) for i in range(n)])
df004['sum'] = df004['kub1'] + df004['kub2']
df004

       kub1  kub2  sum
0         4     3    7
1         5     2    7
2         3     6    9
3         4     4    8
4         1     4    5
...     ...   ...  ...
99995     2     3    5
99996     4     1    5
99997     6     4   10
99998     6     6   12
99999     6     6   12

[100000 rows x 3 columns]

In [70]:
# вышло две "шестерки" (1/36)
df004[df004['sum']== 12].count()[2]/df004['sum'].count()

0.02777

In [72]:
# сумма выпавших очков не меньше 11 (3/36)
df004[df004['sum']>= 11].count()[2]/df004['sum'].count()

0.08273

In [74]:
# не выпала ни одна "шестерка" (25/36)
df004[(df004['kub1'] != 6) & (df004['kub2'] != 6)].count()[2]/df004['sum'].count()

0.69387

## Вероятность суммы событий

### Задача 5
Брошены две игральные кости. Найти вероятность события D = {выпала хотя бы одна шестёрка}

In [128]:
df004[(df004['kub1'] == 6) | (df004['kub2'] == 6)].count()[2]/df004['sum'].count()

0.30613

Предлагается также решить задачи: 

### Задача 6
В телефонном номере три последние цифры стерлись. Считая, что все возможные значения стершихся цифр равновероятны, найти вероятность событий:

A = {Стерлись различные цифры},

B = {Стерлись одинаковые цифры},

C = {Среди стершихся цифр хотя бы две совпадают},

D = {Среди стершихся цифр хотя бы две различны}

In [121]:
df006 = pd.DataFrame([rd.randint(0,9) for i in range(n)],columns=['one'])
df006['two'] =  pd.DataFrame([rd.randint(0,9) for i in range(n)])
df006['three'] =  pd.DataFrame([rd.randint(0,9) for i in range(n)])
df006

       one  two  three
0        4    6      7
1        6    2      3
2        2    4      2
3        9    3      0
4        6    4      5
...    ...  ...    ...
99995    7    9      4
99996    1    1      5
99997    0    1      3
99998    9    0      8
99999    0    2      6

[100000 rows x 3 columns]

In [117]:
# A = {Стерлись различные цифры}
df006['other'] = (df006['one'] != df006['two']) & (df006['two'] != df006['three'])
df006[df006['other']==True].count()[3]/df006['other'].count()

0.81058

In [122]:
# B = {Стерлись одинаковые цифры}
df006['ravn'] = (df006['one'] == df006['two']) & (df006['two'] == df006['three']) & (df006['one'] == df006['three'])
df006[df006['ravn']==True].count()[3]/df006['ravn'].count()

0.01027

In [124]:
# C = {Среди стершихся цифр хотя бы две совпадают}
df006['sovp'] = (df006['one'] == df006['two']) | (df006['two'] == df006['three']) | (df006['one'] == df006['three'])
df006[df006['sovp']==True].count()[3]/df006['sovp'].count()

0.27955

In [125]:
# D = {Среди стершихся цифр хотя бы две различны}
df006['other2'] = (df006['one'] != df006['two']) | (df006['two'] != df006['three']) | (df006['one'] != df006['three'])
df006[df006['other2']==True].count()[3]/df006['other2'].count()

0.98973

## Случайные величины

### Задача 7
В лотерее имеется 10 билетов, из которых один выигрышный. Размер выигрыша 10 ден. ед.; стоимость билета 1 ден ед. Найти закон распределения случайной величины X, равной чистому выигрышу участника лотереи, который вытаскивает билет первым.

Предлагается также решить задачу: 

### Задача 8
Брошены две игральные кости. Найти закон распределения случайной величины $X$, равной сумме выпавших очков. Найти вероятности событий ${X <= 4}$, ${X > 4}$

In [182]:
kub1 = np.random.choice([1,2,3,4,5,6], n)
kub2 = np.random.choice([1,2,3,4,5,6], n)

df8 = pd.DataFrame(kub1,columns=['kub1'])
df8['kub2'] = pd.DataFrame(kub2)
df8['sum'] = df8['kub1'] + df8['kub2']
df8

       kub1  kub2  sum
0         2     2    4
1         6     5   11
2         1     4    5
3         2     5    7
4         5     2    7
...     ...   ...  ...
99995     6     2    8
99996     5     4    9
99997     2     2    4
99998     3     4    7
99999     6     5   11

[100000 rows x 3 columns]

In [185]:
# X <= 4
p_1 = df8[df8['sum']<=4].count()[2]/n
p_1

0.1671

In [188]:
# X > 4
p_2 = df8[df8['sum']>4].count()[2]/n
p_2

0.8329

## Условные вероятности

### Задача 9
Из колоды (36 карт) вынимают последовательно без возвращения две карты. Найти вероятность того, что первой картой была шестерка, а второй — семерка. Найти условную вероятность того же события при условии, что обе карты бубновой масти.

Предлагается также решить задачу: 

### Задача 10
Из урны, содержащей два белых и три черных шара, последовательно извлекают два шара; вынутые шары не возвращаются. Если первый шар оказался черным, то перед вторым извлечением в урну добавляют белый шар. В противном случае состав оставшихся шаров не меняют. Найти вероятности событий:

$A$ = {извлечены два белых шара},

$B$ = {извлечены два черных шара}

Указание. Пусть событие $C_1$ = {первый шар белый}, событие $C_2$ = {второй шар белый}. Тогда $A = C_1C_2$, $B = \overline C_1 \overline C_2$